
.container{
}

.new_logo_wrapper:hover .printer_head_container{
	left: 90px;
	-webkit-transition: left 1s; /* Safari */
	transition: left 1s;
}

.new_logo_wrapper:hover .first_bend{
	width: 100px;
	-webkit-transition: width 1s; /* Safari */
	transition: width 1s;
}

.new_logo_wrapper{
	position: relative;

	margin: 30px auto;
	width: 430px;
	height: 570px;
	padding: 25px;

	/*background-color: #003562;*/
	background-color: rgb(40, 98, 147);
}

.new_logo{
	width: 400px;
	height: 540px;
/*	New Colors */
	
	background-color: rgb(40, 98, 147);
	border: 15px solid rgb(253, 141, 58);


/*	Old Colors*/
/*
	background-color: #003562;
	border: 15px solid #FF6327;
	*/
}

.first_bend{
	z-index: 0;
	position: absolute;
	top: 52px;
	left: 33px;
	height: 37px;
	width: 15px;
	border-radius: 0 0 0 20px;
	border: solid 4px white;
	border-top-width: 0px;
	border-right-width: 0px;

	-webkit-transition: width 1s; /* Safari */
	transition: width 1s;
}

.printer_head_container{
	position: absolute;
	top: 20px;
	left: 170px;

	-webkit-transition: left 1s; /* Safari */
	transition: left 1s;
}

.printer_head{
	z-index: 2;
}

.printer_head .box1{
	height: 30px;
	width: 70px;
	/*background-color: #FF6327;*/
	background-color: rgb(253, 141, 58);
}

.printer_head .box2{
	height: 10px;
	width: 30px;
	margin: 0 auto;
	/*background-color: #FF6327;*/
	background-color: rgb(253, 141, 58);
}

.printer_head .tri1{
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	
	margin: 0 auto;
	/*border-top: 15px solid #FF6327;*/
	border-top: 15px solid rgb(253, 141, 58);
}

.logo_container{
	position: relative;
	margin: 64px 95px 0 85px;
	width: 220px;
	height: 420px;
}

.printed_container{
	height: 100%;
	width: 120px;

	position: absolute;
	left: 0px;
}

.printed{
	height: 100%;
	width: 100%;

	margin-top: 5px;
	position: relative;
	float: left;
	overflow: hidden;
}

.print_strip{
	height: 15px;
	width: 100%;
	position: relative;
	margin: 0 0 5px 0px;
}

.bend_out,
.bend_back{
	position: absolute;
	height: 6px;
	border: solid 4px white;

}

.last_bend{
	position: absolute;
	top: 10px;
	right: 8px;
	width: 90%;

	border
	height: 0px;
	border: solid 2px white;

	border-radius: 20px 0 0 20px;
	border-right-width: 0px
}

.bend_out{
	right: 8px;
	top: 10px;

	border-radius: 20px 0 0 20px;
	border-right-width: 0px
}

.bend_back{
	right: 2px;

	width: 20px;
	border-radius: 0 20px 20px 0;
	border-left-width: 0px
}

.orig_container{
	width: 100px;
	height: 100%;

	position: absolute;
	right: 0px;
	overflow: hidden;
}

.orig_logo{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.logo{
	position: absolute;
	right: 0px;
	height: 100%;
}